
<div class="row">
  <% teams.each_with_index do |team, i| %>
  
  <div class="<%= team_klass() %>">
    <% cache team do %>
      <%= render partial: "team", locals: {team: team} %>
    <% end %>
  </div>
  <% end %>
</div>
