<h1>Fantasy Football</h1>

<h3>Actions:</h3>

<div class="btn-group-vertical" role="group" aria-label="...">
  <a href="<%= new_pick_path %>">
    <button type="button" class="btn btn-default">Make a Pick</button>
  </a>

  <a href="<%= player_overview_path %>">
    <button type="button" class="btn btn-default">Player Overview</button>
  </a>

  <a href="<%= team_overview_path %>">
    <button type="button" class="btn btn-default">Team Overview</button>
  </a>
</div>
