<meta http-equiv="refresh" content="5">

<% if @last_pick %>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-info">
    <h3>Last Pick: <%= @last_pick.player.name_and_position %> to <%= @last_pick.team.name %> in Round <%= @last_pick.round %> </h3>
  </div>
  <div class="col-md-3"></div>
</div>
<% end %>

<div class="container-fluid">

  <% 0.upto(@teams.length) do |i| %>
  <% next if i % row_size != 0 %>

  <%= render partial: "team_row", locals: {gridsize: team_grid_size, teams: @teams.slice(i, row_size) } %>
  <% end %>

</div>
